/*
    Color-Palette
    Light-Green: #85FF85 . new #A4E890 (shades)
    Green: #39FF39 . new #579A47 (shades)
    Dark-Green: #005200
    Yellow: #DAB52E . new #926012 . new #DBC463 (skip shade)
    Black: #000
*/

/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Varela+Round&display=swap');

/*Asterisk to override defaults*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*Generic Styles*/
    color: #3a3a3a;
    font-family: 'Varela Round', sans-serif;

}

/*Header*/
header {
    background-color: #579A47;

    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;

    box-shadow: 0 2px 2px #3a3a3a;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;

    text-transform: uppercase;
    letter-spacing: 2px;



    display: flex;

}

h1 {
    color: #000;
}

h2 {
    color: #005200;
}

/*Nav Bar*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {

    margin-bottom: 1em;
    text-align: center;

    border: 2px solid transparent;
    /*white*/

}

.active {

    background-color: #DBC463;
    color: #005200;

}

.inactive {

    background-color: #005200;
    color: #DBC463;
}

nav {
    position: absolute;
    background-color: #579A47;

    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;

    display: none;
    top: 100%;
}

/*Nav Toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Hiding class, making content visible only to screen readers but not visually */
/* Source: https: //css-tricks.com/inclusively-hidden/ */

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*Main*/
main {
    background-color: #A4E890;
    flex: 1 0 auto;

    margin-top: 47px;

    display: flex;
}

hr {
    border: 1px solid #005200;
}

/*Home*/
#general-info {
    border: 3px solid #005200;

    margin-top: 10px;
}

.home-heading {
    color: #005200;

    text-transform: uppercase;

    margin-top: 5px;

    font-size: 5rem;

    align-content: center;
    justify-content: center;
}

#home-top {
    display: flex;
    flex-direction: row;

    width: 100%;
}

#general-text {

    letter-spacing: 0.25rem;
    word-spacing: 0.5rem;

    color: #005200;
}

#opening-times {
    border: 3px solid #005200;

    margin-top: 10px;
}

#times-ul {
    color: #005200;

    letter-spacing: 1px;
    word-spacing: 5px;



    margin-top: 5px;
    line-height: 2.5;

    list-style-type: none;

    text-align: center;
}

#map {
    border: 3px solid #005200;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    text-align: center;

    padding: 0rem 5rem 5rem 5rem;
}

#map-image {
    border: 3px solid #005200;
    border-radius: 5%;

    width: 90%;
}

/*Animals*/

#animal-content {
    display: flex;
    flex-direction: column;

    margin-bottom: 10rem;
}

.animal-heading {
    color: #005200;

    font-size: 5rem;

    align-content: center;
    justify-content: center;
}

.animal-photo {
    width: 40rem;

    border: solid 3px #005200;
    border-radius: 5%;
}

.animal-content {
    display: flex;
    flex-direction: row;

    width: 100%;
    padding: 0rem 5rem;
}

#monkey-content {
    display: flex;
    flex-direction: row-reverse;

    width: 100%;
    padding: 0rem 5rem;
}

.animal-text {
    font-size: 2rem;

    color: #005200;

    word-spacing: 1rem;

    padding: 5rem;

    justify-content: center;
    align-items: center;
    align-content: center;
}

/*Gallery*/
#gallery-main {
    display: flex;
    flex-direction: column;


}

#animal-video {
    background-color: #005200;
}

#animal-photo {
    border: 3px solid #005200;

    width: 100%;

    margin: 2rem;
}

/*Contact Us*/
#contact-main {
    display: flex;

    flex-direction: column;


    color: #005200;
}

#contact {
    border: 3px solid #005200;

    justify-content: center;
    align-content: center;

    box-sizing: border-box;

    padding-bottom: 5px;
}

#contact-form {
    display: flex;

    flex-direction: column;
    align-content: space-between;

    flex-wrap: wrap;
}

#contact-details {
    border: 3px solid #005200;

    justify-content: center;
    align-content: center;
    align-items: center;
}

.contact-head {
    justify-content: center;
}

/*Thank You*/
#thankyou-main {
    color: #005200;
    border: 3px solid #005200;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-content: center;
    align-items: center;

    height: 100%;
}

#thankyou-div>h2 {
    margin-bottom: 20px;
}

/*404*/

/*Footer*/
footer {
    background-color: #DBC463;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;

    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #000;
}

/*Media Query - 768px and above*/
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 190%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main*/
    main {
        margin-top: 75px;


    }

    /*Home*/
    #general-info {
        width: 100%;

    }

    #general-text {
        font-size: 10px;
    }

    /*Gallery*/
    #gallery-photos {
        column-count: 2;
    }

    /*Contact*/
    #contact-main {
        flex-direction: column;
    }

    #contact {
        width: 100%;
    }

    #contact-details {
        width: 100%;
    }
}

/*Laptop + Desktops - 992px and above*/
@media screen and (min-width: 992px) {

    /*Header*/
    li:hover.inactive {
        outline: 10px solid #DBC463;
        color: #DBC463;
        z-index: 98;
    }

    li:hover.active {
        /*white*/
        outline: 10px solid #005200;
        z-index: 98;
    }

    /*Main*/
    main {}

    /*Home*/
    #main-home {
        display: flex;
        flex-wrap: wrap;

    }

    #main-home>section {
        flex: 50%;
    }

    #general-info {
        flex: 50%;


    }

    #general-text {
        font-size: 2rem;
    }

    #opening-times {
        flex: 50%
    }

    #times-ul {
        font-size: 2rem;
    }

    #map {


        width: 100%;
    }

    /*Animals*/


    /*Gallery*/
    #animal-video {
        height: 640px;

    }

    #gallery-photos {
        column-count: 3;
    }

    /*Contact*/
    #contact-main {
        flex-direction: row;

        font-size: 110%;
    }

    #contact {
        justify-content: space-evenly;
    }

    #contact-details {
        padding-left: 20px;
        padding-top: 20px;
        box-sizing: border-box;
        text-align: center;
        font-size: 200%;
    }

    /*Footer*/
    #social-networks i:hover {
        /*white*/
        color: #005200;
    }
}