/*
    Color-Palette
    Light-Green: #85FF85
    Green: #39FF39
    Dark-Green: #005200
    Yellow: #DAB52E
*/

/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Varela+Round&display=swap');

/*Asterisk to override defaults*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*Generic Styles*/
    color: #3a3a3a;
    font-family: 'Varela Round', sans-serif;

}

/*Header*/
header {
    background-color: #39FF39;

}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}

/*Main*/
main {
    background-color: #85FF85;
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: #DAB52E;
}