/*
    Color-Palette
    Light-Green: #85FF85
    Green: #39FF39
    Dark-Green: #005200
    Yellow: #DAB52E
*/

/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Varela+Round&display=swap');

/*Asterisk to override defaults*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*Generic Styles*/
    color: #3a3a3a;
    font-family: 'Varela Round', sans-serif;

}

/*Header*/
header {
    background-color: #39FF39;

    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;

    box-shadow: 0 2px 2px #3a3a3a;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;

    text-transform: uppercase;
    letter-spacing: 2px;

    color: #000;

}

/*Nav Bar*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {

    margin-bottom: 1em;
    text-align: center;

    border: 2px solid transparent;
    color: #FFF;
}

.active {

    background-color: #DAB52E;

}

.inactive {

    background-color: #005200;
}

nav {
    position: absolute;
    background-color: #39FF39;

    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;

    display: none;
    top: 100%;
}

/*Nav Toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main*/
main {
    background-color: #85FF85;
    flex: 1 0 auto;

    margin-top: 47px;

    display: flex;
}

hr {
    border: 1px solid #000;
}

/*Home*/
#general-info {
    border: 1px solid #000;

    margin-top: 10px;
}

#general-head {
    color: #000;

    text-transform: uppercase;

    margin-top: 5px;
}

#general-text {
    color: #000;

    letter-spacing: 1px;
    word-spacing: 5px;



    margin-top: 5px;
    line-height: 2.5;

    text-align: justify;

}

#opening-times {
    border: 1px solid #000;

    margin-top: 10px;
}

#times-head {
    color: #000;

    text-transform: uppercase;

    margin-top: 5px;

    text-align: center;
}

#times-ul {
    color: #000;

    letter-spacing: 1px;
    word-spacing: 5px;



    margin-top: 5px;
    line-height: 2.5;

    list-style-type: none;

    text-align: center;
}

#map {
    border: 1px solid #000;
}

/*Animals*/
#animal-nav {
    position: fixed;
    background-color: #DAB52E;
    background-blend-mode: overlay;
}

.animal-photo {
    width: 240px;
    height: 120px;
}

/*Gallery*/

/*Contact Us*/

/*Thank You*/
#thankyou-main {
    color: #000;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-content: center;
    align-items: center;

    height: 100%;
}

#thankyou-div>h2 {
    margin-bottom: 20px;
}

/*Footer*/
footer {
    background-color: #DAB52E;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;

    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #000;
}

/*Media Query - 768px and above*/
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 190%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main*/
    main {
        margin-top: 75px;


    }

    /*Home*/
    #general-info {
        width: 100%;

    }

    #general-text {
        font-size: 10px;
    }
}

/*Laptop + Desktops - 992px and above*/
@media screen and (min-width: 992px) {

    /*Header*/
    li:hover.inactive {
        outline: 10px solid #DAB52E;
        color: #DAB52E;
        z-index: 98;
    }

    li:hover.active {
        outline: 10px solid #FFF;
        z-index: 98;
    }

    /*Main*/
    main {}

    /*Home*/
    #main-home {
        display: flex;
        flex-wrap: wrap;

    }

    #main-home>section {
        flex: 50%;
    }

    #general-info {
        width: 40%;
        height: 50%;

    }

    #general-text {
        font-size: 20px;
    }

    #opening-times {
        height: 100%;


    }

    #times-ul {
        font-size: 20px;
    }

    #map {
        margin-top: -150px;

        width: 50%;
    }

    /*Footer*/
    #social-networks i:hover {
        color: #FFF;
    }
}